<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>

	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>

	<key>CFBundleDisplayName</key>
	<string>Дияр Экспресс</string>

	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>

	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>

	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>

	<key>CFBundleName</key>
	<string>diyar</string>

	<key>CFBundlePackageType</key>
	<string>APPL</string>

	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>

	<key>CFBundleSignature</key>
	<string>????</string>

	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>

	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>sms</string>
		<string>tel</string>
	</array>

	<key>LSRequiresIPhoneOS</key>
	<true/>

	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Доступ к геолокации пользователя необходим для отображения текущей геопозиции</string>

	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Приложение использует ваше местоположение для предоставления услуг доставки</string>

	<key>NSMotionUsageDescription</key>
	<string>Приложение использует данные о движении для улучшения качества услуг</string>

	<key>NSFaceIDUsageDescription</key>
	<string>Для аутентификации с использованием Face ID</string>

	<!-- 🔴 ВАЖНО: для Flutter Debug / DevTools -->
	<key>NSLocalNetworkUsageDescription</key>
	<string>Приложению требуется доступ к локальной сети для корректной работы</string>

	<key>NSBonjourServices</key>
	<array>
		<string>_dartobservatory._tcp</string>
	</array>

	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>

	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>

	<key>UIMainStoryboardFile</key>
	<string>Main</string>

	<key>UIStatusBarHidden</key>
	<false/>

	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>

	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>

	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>

</dict>
</plist>
